/* 图片介绍栏 */
.pic-pro .pic-center{
    width: 982px;
    height: 336px;
    margin:0 auto;
    position: relative;
}
  /* 左边图片 */
.pic-pro .pic-center .picture{
    width: 728px;
    height: 336px;
    overflow: hidden;
    float:left;
    position: relative;
}
.picture .ulPic{
    width: 7280px;
    position: absolute;
    top:0;
    left:0;
}
 .picture .ulPic li{
     float:left;
     height: 336px;
     width: 728px;
 }
 .picture .ulPic li a{
     display: block;
     width: 728px;
     height: 336px;
 }
 .pic-center .download{
     width: 254px;
     height: 336px;
     float: left;
     overflow: hidden;
     background: url("../images/101.png") no-repeat 0 0;
 }
    /* 右边下载 */
 .download a{
     display: block;
     width: 215px;
     height: 56px;
     margin:212px 0 0 21px;
     background: url("../images/101.png") no-repeat -20px -212px;
 }
 .download p{
     color:#8d8d8d;
     font-size:12px;
     margin:10px auto;
     text-align: center;
 }
 .pic-center span{
     position: absolute;
     width: 37px;
     height: 63px;
     top:136.5px;
     background: url("../images/arrow.png") no-repeat 0 -357px;
     z-index: 99;
 }
 .pic-center .arrow-left{
    left:-70px;
 }
 .pic-center .arrow-right{
     right:-70px;
     background-position: 0 -508px;
 }
 .pic-center .arrow-left:hover{
     background-position: 0 -430px;
 }
 .pic-center .arrow-right:hover{
     background-position: 0 -583px;
 }
 /* 左边小圆点 */
 .picture .circle{
     width: 180px;
     height: 20px;
     position: absolute;
     bottom: 5px;
     left:50%;
     text-align: center;
     margin-left: -90px;
 }
 .picture .circle li{
     float:left;
     width: 20px;
     height: 20px;
     background: url("../images/arrow.png") no-repeat 3px -344px;
 }
 .picture .circle .current{
    background: url("../images/arrow.png") no-repeat -17px -344px;
 }


 /* 歌曲推荐 */
 
 .produce .pro-center{
     width: 982px;
     height: 1403px;
     margin:0 auto;
     overflow: hidden;
     
 }
 .pro-left{
     float:left;
     width: 687px;
     padding:20px 20px 40px;
     background-color: #fff;
     border:1px solid #ccc;
     border-bottom: none;
 }
 /* 通用标题样式开始 */
 .pro-left .title{
    height: 35px;
    position: relative;
    border-bottom:2px solid #C10D0C;
 }
 .pro-left .title .red{
    display: block;
    line-height:35px;
    margin-left:28px;
    float:left;
    font-size:20px;
    color:#333;
 }
 .pro-left .title .red i{
    position: absolute;
    top:-2px;
    left:0;
    height: 30px;
    width: 20px;
    background: url("../images/100.png")  no-repeat -229px -150px;
 }
 .pro-left .title .more {
    float:right;
    margin-top:10px;
 }
 .pro-left .title .more a{
     color:#666;
     font-size:12px;
 }
 .pro-left .title .more i{
     display: inline-block;
     width: 12px;
     height: 12px;
     background: url("../images/100.png") no-repeat 1px -238px;
 }
 /* 通用标题样式结束*/
  
  .hot-pro .hot-list{
     margin:7.5px 0 0 20px;
     float:left;
     
 }
  .hot-pro .hot-list li{
     float:left;
 }
 .hot-pro .hot-list li a{
     font-size:12px;
     color:#666;
 }
 .hot-pro .hot-list li a:hover{
     text-decoration: underline;
 }
 .hot-pro .hot-list li span{
     margin:0 15px;
     color:#666;
     font-size: 12px;
 }
 

 /* 热门推荐内容 */
 .hot-content{
    overflow: hidden;
}
.hot-content ul{
    margin-top: 20px;  
}
.hot-content ul li{
    float: left;
    height: 204px;
    width: 140px;
    margin-bottom: 20px;
    margin-right: 42px;
}
.hot-content ul li:nth-child(4n){
    margin-right: 0;
}

.hot-content ul li .img-box{
    width: 140px;
    height: 140px;
    position: relative;
}
.hot-content ul li .img-box .bottom{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 27px;
    color: #ccc;
    background: url("../images/music-bg.png") no-repeat 0 -537px;

}
.hot-content ul li .img-box .bottom .erji{
    width: 14px;
    height: 11px;
    display: block;
    float:left;
    margin: 10px 5px 7px 5px ;
    background: url("../images/music-icon.png") no-repeat 0 -24px ;
}
.hot-content ul li .img-box .bottom .num{
    float:left;
    font-size: 12px;
    margin-top: 7px;
}
.hot-content ul li .img-box .bottom .start{
    width: 16px;
    height: 17px;
    position: absolute;
    background: url("../images/music-icon.png") no-repeat 0px 0px;
    right:10px;
    bottom:5px;
}
.hot-content ul li .songName{
    font-size:14px;
    color:#333;
    display: block;
    width: 140px;
    margin-top:3px;
}
.hot-content ul li a:hover{
    text-decoration: underline;
}

/* 新歌上架 */
.new-pro{
    margin-top:20px;
}
.new-content ul{
    border: 1px solid #ccc;
    width: 687px;
    height: 186px;
    margin-top: 20px;
    background-color: #eee;
}
.new-content ul li{
    width: 118px;
    height: 150px;
    margin-left:20px;
    margin-top: 25px;
    float: left;
}
.new-content ul li .zhuanji{
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
}
.new-content ul li .zhuanji .new-bo{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 6px;
    bottom: 4px;
    background: url("../images/music-icon.png") no-repeat 0 -85px;
    display: none;
}
.new-content ul li .zhuanji:hover .new-bo{
    display: block;
}
.new-content ul li:nth-child(1){
    width: 100px;
    height: 100px;
}
.new-content ul li p a{
    font-size:12px;
    color:#333;
    text-align: left;
}
.new-content ul li p a:hover{
    text-decoration: underline;
}


/* 榜单推荐 */
.rank-pro{
    margin-top: 50px;
    
}
.rank-content{
    margin-top: 20px;
    height: 472px;
}
.rank-content dl{
    background: #eee;
    float:left;
    width: 228px;
    border-top:1px solid #ccc;
}
.rank-content dl:nth-child(1){
    border-left:1px solid #ccc;
}
.rank-content dl dt{
    height: 100px;
    padding:20px 0 0 19px;
    border-right:1px solid #ccc;
}
.rank-content dl dt .dt-left{
    width: 78px;
    height: 78px;
    border: 1px solid #ccc;
    float:left;
}
.rank-content dl dt .dt-left img{
    display: block;
    width: 100%;
    height: 100%;
}
.rank-content dl dt .dt-right{
    float:left;
    margin-left: 10px;
    padding-top:10px;
}
.rank-content dl dt .dt-right .rank-name{
    color:#000;
    font-size:14px;
    font-weight: 600;
}
.rank-content dl dt .dt-right .m-btn{
    margin-top: 10px;
}
.rank-content dl dt .dt-right .m-btn .bofang,.add{
    width: 22px;
    height: 22px;
    display: block;
    float:left;
    background: url("../images/100.png") no-repeat -267px -205px;
    margin-right: 10px;
}
.rank-content dl dt .dt-right .m-btn .add{
    background-position: -300px -205px;
}

.rank-content dl dd ol{
    height: 353px;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.rank-content dl dd ol li{
    height: 32px;
    line-height: 32px;
    display: list-item;
    padding-left:35px;
}
.rank-content dl dd ol li .rank-icon{
    float:right;
    width: 82px;
    margin-top: 7px;
    display: none;
}

.rank-content dl dd ol li .rank-icon .p-left,.p-mid,.p-right{
    float: left;
    display: block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    background: url("../images/100.png") no-repeat -267px -268px;
}
.rank-content dl dd ol li .rank-icon .p-mid{
    background: url("../images/111.png") no-repeat 0 -698px;
}
.rank-content dl dd ol li .rank-icon .p-right{
    background: url("../images/100.png") no-repeat -297px -268px;
}
.rank-content dl dd ol li:last-child{
   text-align: right;
   padding-right:30px;
}
.rank-content dl dd ol li:nth-child(2n+1){
    background-color: #ddd;
}
.rank-content dl dd ol li span{
    float:left;
    margin-right:10px;
    color:#242424;
    font-size:16px;
}
.rank-content dl dd ol li:nth-child(-n+3) span{
    color: #c10d0c;
}
.rank-content dl dd ol li .name-pro{
    float:left;
    color:#242424;
    font-size:12px;
}
.rank-content dl dd ol li a:hover{
    text-decoration: underline;
}

/* 右边介绍 */
.pro-right{
    width: 252px;
    float: right;
    height: 100%;
    border-right:1px solid #ccc;
    background-color: #fff;
}
.user-load{
    height: 126px;
    background: url("../images/100.png")  0 0;
}
.user-load p{
    display: block;
    width: 205px;
    margin: 0 auto;
    font-size: 12px;
    padding:16px 0;
    line-height:22px;
}
.user-load a{
    display: block;
    width: 100px;
    height: 31px;
    background: url("../images/100.png") no-repeat 0 -195px;
    margin:0 auto;
    color:#fff;
    line-height: 31px;
    text-align: center;
    font-size:12px;
}
/* 歌手入驻 */
.singer{
    margin:10px 20px 20px;
}
.s-title{
    height: 23px;
    border-bottom:1px solid #ccc;
}
.s-title p{
    float:left;
    font-size:12px;
    font-weight: bold;
}
 .s-title a{
    float:right;
    color:#666;
    font-size:12px;
}
.singer-pro ul{
    margin-top: 6px;
}
.singer-pro ul li{
    width: 210px;
    height: 62px;
    margin-top: 14px;
    background: #fafafa;
}
.singer-pro ul li a{
    display: block;
    width: 210px;
    height: 62px;
}
.singer-pro ul li a .s-pic,.s-pic img{
    float:left;
    height: 62px;
    width: 62px;
}
.singer-pro ul li a .s-mes{
    float:left;
    width: 133px;
    height: 50px;
    padding-left:14px;
    border: 1px solid #e9e9e9;
    border-left:none;
    padding-top:10px;
}
.singer-pro ul li a .s-mes span{
   color:#333;
   font-weight: 700;
}
.singer-pro ul li a .s-mes p{
    color:#666;
    margin-top: 10px;
    font-size:12px;
}
.singer-pro .application{
    height: 31px;
    margin-top: 10px;
}
.singer-pro .application a{
    display: block;
    font-size:12px;
    color:#666;
    height: 31px;
    background: url("../images/button.png") 0 -59px;
    text-align: center;
    line-height: 31px;
    border-right: 1px solid #ccc;
    border-radius: 4px;
    font-weight:bold;
}
.zhubo{
    margin:0 20px 0;
}
.zhubo a:hover{
    text-decoration: underline;
}
.z-content ul{
    margin-top: 8px;
}
.z-content ul li{
    width: 210px;
    height: 50px;
    margin-top: 14px;
}
.z-content ul li a{
    display: block;
    width: 210px;
    height: 50px;
}
.z-content ul li a .z-pic,.z-pic img{
    height: 40px;
    width: 40px;
    float:left;
}
.z-content ul li a .z-mes{
    float:left;
    width: 160px;
    margin-left: 10px;
}
.z-content ul li a .z-mes span{
    font-size:12px;
    font-weight: bold;
    color:#333;
    position: relative;
}
.z-content ul li a .z-mes span i{
    width: 11px;
    height: 13px;
    top:0;
    right:-15px;
    position: absolute;
    background: url("../images/smallicon.png") 0 0;
}
.z-content ul li a .z-mes p{
    font-size:12px;
    color:#666;
    margin-top: 5px;
}
